
<div class="">
  <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
    <% @outfits.each do |outfit| %>
      <li class="th">
        <%= link_to (image_tag outfit.image_url(:thumb)), outfit_path(outfit) %>
      </li>
    <% end %>
  </ul>
</div>
